<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action=""method="">
    <label for="user">username</label>
    <input type="text" id="user" name="USERNAME" VALUE="USERNAME">
 <label for="comment">comment</label>
 <input type="text"id="comment" name="COMMENTS" VALUE="COMMENT">
 <BUTTON onclick="count" type="submit" >SUBMIT</BUTTON>
</form>
</body>
</html>